# Exclude unnecessary files and directories
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.po
*.mo
*.swp
*.swo
*.DS_Store
*.egg-info
*.eggs
*.coverage
*.tox
*.env
*.venv
.env
.venv
node_modules
dist
build
*.tar.gz
*.zip
*.whl